tests/__pycache__/
__pycache__/
old_code/
samples/
venv/
other/
code/image
../doc styles/
../.idea/
chap06/
code/__pycache__/
maybe/
help/
.idea/
code/Dialog - untitled
code/formatting.txt
icons/
images/
geometry/
*.csv
*.mp4
*.avi
*.png
*.MOV
cascades/
zipContent/
Graphics_Viewer/
threads/
Image_Viewer/
goturn.caffemodel
goturn.prototxt

